.styled-table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #81C784;
    border-radius: 15px;
    overflow: hidden;
    width: 90%;
    font-size: 16px;
}

.styled-header {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #81C784;
    border-radius: 15px 15px 0 0;
}

.alternate-row {
    background-color: #A5D6A7;
}

.normal-row {
    background-color: #E8F5E9;
}

/* Estilos adicionales para los bordes redondeados de las filas */
.styled-table tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

.styled-table tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

.styled-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.styled-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
